<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reception</title>
	<link rel="stylesheet" href="hotel.css">
	

</head>
<body>
	<main>
		<h1>Occupancy report</h1>
		<br>
		<br>
		<div>
			<p>There were <%= rooms %> rooms booked between <%= start %> and <%= end %>.</p>

		<form action="/recep">
			<input id = "submit" type="submit" value="Reception Menu" />
		</form>
	</main>
</body>
</html>	
				