<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reception</title>
	<link rel="stylesheet" href="hotel.css">
	

</head>
<body>
	<main>
		<h1>Reception Menu</h1>

		<form action="/checkin">
			<input id = "submit" type="submit" value="Check-in" />
		</form>
		<br>
		<form action="/checkout">
			<input id = "submit" type="submit" value="Check-out" />
		</form>
		<br>
		<form action="/income">
			<input id = "submit" type="submit" value="Income reports" />
		</form>
		<br>
		<form action="/availability">
			<input id = "submit" type="submit" value="Check room availability" />
		</form>
		<br>
		<form action="/occupancy">
			<input id = "submit" type="submit" value="Occupancy reports" />
		</form>
		

	</main>
</body>	